	nave li {
		display: inline;
		text-decoration: none;
		text-transform: uppercase;
	}


#banner {
	width: 100%;
} 
body {
	background: #010202;
	margin: 0;
	padding: 0;
}

h1 {    font-family: 'Bungee Spice', cursive;

    font-family: 'Silkscreen', cursive;
	color: aliceblue;

	text-align: center;
}

#fundo {
	color: rgb(16, 108, 230);
}

p {    font-family: 'Bungee Spice', cursive;
	
	color: aliceblue;
    font-family: 'Rubik Dirt', cursive;
    
    font-family: 'Silkscreen', cursive;
	text-align: center;
}


li {
	color: aliceblue;
	font-size: ;
	text-decoration: aqua;
	font-weight: lighter;
}


