#banner {
	width: 100%;
} 
body {
	background: #010202;
	margin: 0;
	padding: 0;
}

h1 {    font-family: 'Bungee Spice', cursive;

    font-family: 'Silkscreen', cursive;


	text-align: center;
}

p {    font-family: 'Bungee Spice', cursive;

    font-family: 'Rubik Dirt', cursive;

    font-family: 'Silkscreen', cursive;
	text-align: center;
}



